$blue000: #ADE2FF;
$blue100: #b2daff;
$blue200: #339dff;
$blue300: #29a8ff;
$blue400: #1991ff;
$blue500: #109dff;
$blue600: #005db2;
$gray100: #a5a5a5;
$gray200: #818181;
$gray300: #616161;
$gray400: #424242;
$white: #fff;
$white100: #F7F8FB;
$black100: #303136;
$black200: #333;
$black600: #000;


$themes: (
  light: (
    bodyBackgroundColor: #f3f3f3,
    headerFooterBackground: #fff,
    textColor: #000,
    toggleBackground: #dfe4ea,
    calculatorBackground: $white100,
    digitNumericColor: $blue200,
    digitNumericBackground: $white,
    controlColor: $gray300,
    controlBackground: $white,       
    displayColor: $gray400, 
    expressionColor: $gray200,
    operatorColor: $blue500,
    operatorBackground: $blue000,
    cleanerColor: $gray100,
    cleanerBackground: $gray300,
    resultColor: $blue100,
    resultBackground: $blue400,
    resultShadow: -9px 13px 23px $blue400
    ),
  dark: (
    bodyBackgroundColor: #222736,
    headerFooterBackground: #36394c,
    textColor: #eff2f7,
    toggleBackground: #606071,    
    calculatorBackground: $black600,
    digitNumericColor: $blue300,
    digitNumericBackground: $black100,
    controlColor: $gray100,
    controlBackground: $gray300,      
    displayColor: $white, 
    expressionColor: $gray200,
    operatorColor: $blue200,
    operatorBackground: $blue600,
    cleanerColor: $gray100,
    cleanerBackground: $gray300,
    resultColor: $blue100,
    resultBackground: $blue400
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}