:root {
  --distance-button: 16px;
}

.container {
  width: 360px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: var(--black600);
  border-radius: 16px;
  font-size: 24pt;
  padding: 26px;
}

.keyboard,
.main-digits,
.top-operators,
.side-operators,
.numerics,
.numerics-bottom {
  gap: var(--distance-button);
}

.keyboard {
  row-gap: calc(var(--distance-button) + 6px);
}

.keyboard {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.main-digits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.side-operators {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result {
  margin-top: 12px;
}

.numerics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.numerics-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-end;
}

.numerics-bottom .zero {
  grid-column: 1 / span 2;
}

.top-operators {
  display: flex;
  justify-content: center;
}

.bottom-digits {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
