@import '../../styles/theme-variables.scss';

.operator,
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  border-radius: 16px;
  border-radius: 16px;
  width: 62px;
  height: 60px;
  border: none;
}

.operator {
  @include themify($themes) {            
    color: themed('operatorColor');    
    background-color: themed('operatorBackground');    
  };   
}

.tall {
  height: 96px;
}

.cleaner {
  @include themify($themes) {            
    color: themed('cleanerColor');    
    background-color: themed('cleanerBackground');    
  };     
}

.result {
  @include themify($themes) {            
    color: themed('resultColor');    
    background-color: themed('resultBackground');    
  };     
}
