.operator,
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  border-radius: 16px;
  border-radius: 16px;
  width: 62px;
  height: 60px;
  border: none;
}

.operator {
  color: var(--blue200);
  background-color: var(--blue600);
}

.tall {
  height: 96px;
}

.cleaner {
  color: var(--gray100);
  background-color: var(--gray300);
}

.result {
  background-color: var(--blue400);
  color: var(--blue100);
}
