@import '../../styles/theme-variables.scss';

.cleaner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  border-radius: 16px;
  border-radius: 16px;
  width: 62px;
  height: 60px;
  border: none;
  @include themify($themes) {    
    background-color: themed('controlBackground'); 
    color: themed('controlColor');
  };    
}
