@import '../../styles/theme-variables.scss';

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 18px;

  @include themify($themes) {            
    color: themed('displayColor');    
  };   

  width: 100%;
  height: 200px;  
}

.expression {
  @include themify($themes) {            
    color: themed('expressionColor');    
  };     
  font-size: 1.48rem;
  text-align: right;
}

.blue-color {
  color: $blue500;
}
