@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --blue100: #b2daff;
  --blue200: #339dff;
  --blue300: #29a8ff;
  --blue400: #1991ff;
  --blue500: #109dff;
  --blue600: #005db2;
  --gray100: #a5a5a5;
  --gray200: #616161;
  --white: #fff;
  --black100: #303136;
  --black200: #333;
  --black600: #000;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--black200);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
