.numeric {
  font-size: 16pt;
  border-radius: 16px;
  border-radius: 16px;
  width: 62px;
  height: 60px;
  border: none;
  color: var(--blue300);
  background-color: var(--black100);
}

.number-zero {
  width: 144px;
}
